@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Roboto:wght@500&display=swap");

:root {
  --font-color: white;
  --main-color: radial-gradient(circle, rgba(0,40,245,1) 0%, rgba(0,11,131,1) 50%, rgba(0,0,54,1) 100%);
  --secondary-color: #fdf0d5;
  --third-color: #dbd8e3;
  --mrg: 1rem;
  --pdg-v: 0.5rem;
  --pdg-h: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
  background: var(--main-color);
}

button {
  cursor: pointer;
  padding: var(--pdg-v) var(--pdg-h);
  background-color: black;
  border: none;
}

button:not([disabled]):hover {
  opacity: 0.7;
}

button:not([disabled]):active {
  transform: scale(0.9);
}

#content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer, header {
  display: grid;
  place-items: center;
  margin: var(--mrg);
}

.main-div {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.table-header {
  margin: var(--mrg);
}

.table {
  display: grid;
  place-items: center;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.board-field {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid white;
  padding: 0;
  min-width: 30px;
  width:50px;
  aspect-ratio: 1;
}

.board-field:not([disabled]):hover  {
  background-color: white;
}

.player2 > .table-header {
  display: flex;
  justify-content: right;
}

.ship {
  background-color: rgb(133, 132, 132);
}

.fa-x {
  color: red;
  font-size: 15px;
}
.fa-circle-dot {
  font-size: 5px;
  color: #FFD43B;
}


@media screen and (max-width: 600px) {
  .main-div {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .board-field {
    min-height: 2rem;
    aspect-ratio: 1;
  }

  .table {
    margin: 10px;
  }

  .player2 > .table-header {
    display: flex;
    justify-content: left;
  }
}

